<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Antoine ORDONEZ</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
		<script type="text/javascript" src="{% static 'js/keyboard.js' %}"></script>
	</head>
	<body>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="upload">Upload</a></li>
			<li><a href="list">Image List</a></li>
			<li class="active"><a href="viewer">Image Viewer</a></li>
		</ul>
		<center>
			<br><br>
			<h1>Image Viewer</h1>
			<br><br>
			<div style="height: 80%;width: 80%;">
				<img src="imageviewer&id=0&rejected=false&verified=false" id="imgClickAndChange">
			</div>
		</center>
	</body>
</html>
